@charset "UTF-8";

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
/*
コンテンツ幅を設定するための共通クラス
*/
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
.readmore {
  font-size: 0.875rem;
  text-align: center;
}
/*
疑似要素で下線を設定するために、「position: relative;」を設定
*/
.readmore a {
  padding-bottom: 1px;
  color: #ffffff;
  position: relative;
}
/*
「position: absolute;」を設定し、left、bottomで下線の位置を調整
widthとheightで線の長さと高さを設定
疑似要素で線を表示させるためには、「content: '';」を設定すること
「transition: all 200ms ease;」でホバー時の速度などを設定
*/
.readmore a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #E86C1C;
  transition: all 200ms ease;
}
/*
ホバー時の下線の設定
「opacity: 0;」下線を非表示
「transform: translateY(3px);」下に3px移動
→下に3px移動しながら下線を非表示にする
*/
.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

/*-------------------------------------------
header
-------------------------------------------*/
/*
「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される
*/
#header {
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 10;
}
.site-title{
  text-align:center;
  font-size: 33px;
  font-weight:bold
}
hr {
  background-color: #E86C1C;
  border: none;
  height: 1.5px;
  width: 100%;
}
#current-page{
  color: #E86C1C;
}
#navi {
  padding: 0px 10px;
}
#navi a {
  color: #E86C1C;
}
#navi ul {
  display: flex;
  justify-content: flex-start;
}
#navi li {
  font-size: 0.875rem;
  padding: 10px 30px 10px 0;
}

/* アコーディオンメニュー */
.ac-menu:last-child {
  margin-bottom: 0px; /* 最後の要素の下にだけ余白 */
}
.ac-menu input {
  display: none;
}
.ac-menu label {
  color: #E86C1C; /* 文字色 */
  line-height: 2; /* 行間 */
  padding: 1px; /* 内側の余白 */
  cursor: pointer;
  position: relative;
  display: block;
}
.ac-menu label:after {
  position: absolute;
  top: 50%; /* 上下中央配置 */
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  content: "▼"; /* アイコン */
  font-size: 7px;
  margin-left: 5px;
}
.ac-menu input:checked ~ label::after {
  content: "▲"; /* クリック後のアイコン */
}
.ac-menu div {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s; /* 開閉スピード */
}
.ac-menu input:checked ~ div {
  height: auto;
  opacity: 1;
  padding: 2px; /* 中身の枠内の余白 */
}
.ac-menu-inside {
  font-size: 13px; /* 中身の文字サイズ */
  line-height: 1; /* 行間 */
}

/*-------------------------------------------
container
-------------------------------------------*/
#container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  margin-bottom: 60px;
}
#container-article {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  margin-bottom: 60px;
}
main {
  width: 80%;
}
main .text {
  padding: 10px 40px 30px 40px;
}
.breadcrumbs-inner{
  margin-left: 5px;
  border-bottom: 1px solid #E86C1C;
  padding-bottom: 10px;
}
article{
  padding: 0px 60px;
}
.article-title{
  padding-top: 30px;
  margin-bottom: 10px;
  text-align:center;
}
main section ul {
  margin-bottom: 30px;
}
#list li {
  display: block;
  padding:0px 10px;
}
#has-background{
  background-color:grey;
  margin: 15px;
  padding: 20px 35px;
}
#citation{
  color:#E86C1C;
}
.category-title{
  margin-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  margin-right: 60px;
}
.grid-item {
  padding: 20px;
}
.datetime{
  font-size: 12px;
}
.grid-title{
  font-size: 15px;
}
.table1 {
  border-collapse: collapse;
}
.table1 td {
  border: 1px solid gray;
}
#toc_list {
  padding: 10px;
  border: 1px solid gray;
  font-weight:bold;
  box-sizing: border-box;
}
#toc_list li {
  margin-top: 2px;
  margin-left: 30px;
}

/* ページングで表示するコンテンツのスタイル*/
/* 初期表示は非表示*/
.page_list li {
    display: none;
    padding: 20px 0;
    border-bottom: 1px solid #E86C1C;
}
/* onクラス添付で画面に表示*/
.page_list li.on {
    display: block;
}
/* ページネーションの現在のページに「.active」クラスを付与して色を変える*/
.pagination .number > a.active {
    background-color: #000000;
    color: #E86C1C;
}
/* ココから先は見た目のスタイルなのであまり重要ではありません。
　　自由にデザインなど変更して貰えればと思います。 */
.pagination {
    width: 70%;
    margin: 0 auto auto;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5px;
}
.pagination .number {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}
.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
}

/*-------------------------------------------
aside
-------------------------------------------*/
#sidebar {
  width: 20%;
  padding: 4px;
  background-color: #000000;
}
.author {
  text-align: center;
  margin-bottom: 60px;
}
.author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.author .profile {
  font-size: 0.875rem;
  text-align: left;
}
#sidebar .item {
  width: 100%;
  margin-bottom: 30px;
}
.textbox {
  width: 80%;
  color:#ffffff;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #ffffff4a;
}
.textbox:focus {
  outline: 0;
  border: 1px solid #E86C1C;
}
.sidebar-sticky-info{
  position: sticky;
  position: -webkit-sticky;
  top: -650px;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 0.875rem;
  background-color: #000000;
}
#footer .footer-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}
#footer .copyright {
  font-size: 0.750rem;
  text-align: center;
  padding: 10px 0;
}

/*-------------------------------------------
ページトップアロー
-------------------------------------------*/
.pagetop {
  height: 35px;
  width: 35px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #000000;
  border: solid 1.5px #E86C1C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #E86C1C;
  border-right: 3px solid #E86C1C;
  transform: translateY(20%) rotate(-45deg);
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 820px) {
  /*-------------------------------------------
  header
  -------------------------------------------*/
  #navi {
    /* 横スクロールを表示 */
    overflow-x: scroll;
    white-space:nowrap;
  }

  /*-------------------------------------------
  container
  -------------------------------------------*/
  #container {
    flex-direction: column;
    padding-top: 90px;
    margin-bottom: 20px;
  }
  #container-article {
    flex-direction: column;
    padding-top: 45px;
    margin-bottom: 20px;
  }
  main {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  main section {
    margin-bottom: 15px;
  }
  main .text {
    padding: 10px 15px 20px 15px;
  }
  article{
    padding: 0px 0px;
  }
  .grid-container {
    grid-template-columns: auto auto;
    margin-right: 0px;
  }
  .grid-item {
    padding: 1px;
  }
  /*-------------------------------------------
  aside
  -------------------------------------------*/
  #sidebar {
    width: 100%;
    padding: 0;
  }
  .author {
    margin-top: 80px;
  }
  /*-------------------------------------------
  footer
  -------------------------------------------*/

}